<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h2 id='typing-message'> Are you looking for a <%= typing @array %> ?</h2>
    </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-5">
  <%= form_for Listing.new, method: :get, url: search_path, class: "navbar-form navbar-left" do |f| %>
    <%= text_field_tag :term, params[:term], placeholder:"Where do you wanna go?" %>
    <%= f.country_select("location") %>
    <%= f.submit 'search', class: 'btn btn-primary' %>
  <% end %>
   </div>
</div

